.parent{
    padding:6%  15% 6% 15% ;
    background-color:#d9534f8a;
    border: 5px solid transparent;
    border-radius: 30px;
}
.btn{
    background-color:white;
    color:#d9534f;
    font-size: 20px;
    border: solid 5px transparent;
    border-radius: 10px;
    width: 200px;
}
.btn:hover{
    background-color:#d9534f;;
    color:white;
}
label{
    color: white;;
}
.file-chose{
    color:black;
}
.inputvalid{
    border: 2px solid rgb(40, 63, 40);
}
.inputinvalid{
    border: 2px solid green;
}
.container-fluid{
    background-image: url("../../assets/Images/img3.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}