ngb-carousel {
    width: 700px;
    margin:auto auto;
    height: 200px;
}

ngb-carousel img {
    width: 100%;
    height: 700px;
}

ngb-carousel {
    width: inherit;
    height: inherit;
}
.caption{
    background-color: #00000063;
    width: 600px;
    height: 300px;
    border: 1px solid transparent;
    border-radius: 20px;
}
.carousel-inner {
    overflow: visible;
}

.carousel-item {
    display: flex !important;
    opacity: 0;
    visibility: visible;
    transition: opacity 1.2s ease-out, visibility 0.2s;
    z-index: -1;
}

.carousel-item.active{
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.carousel-control-prev {
     z-index: 20;
}

.carousel-control-next {
     z-index: 20;
}

.carousel-indicators{
    z-index: 20;
}

/*///////////////////////////////////////////////*/
#container {
    width: 100%;
    margin: 5em auto;
    padding: 0;}
.ng2-carouselamos-container{
        width: 100%;
        margin: auto;
    }
.slide-items{
        margin-right: 10px;}
img{
    width: 210px;
    
}