
.parent{
    padding:5%  5% 5% 5% ;
    background-color:#4654A3;
    border: 1px solid transparent;
    border-radius: 20px;
}
.btn{
    background-color:white;
    color:#4654A3;
    font-size: 20px;
    border: solid 5px transparent;
    border-radius: 10px;
    width: 200px;
}
.btn:hover{
    background-color:#4654A3;
    color:white;
}
label{
    color: white;;
}
.file-chose{
    color:black;
}
a:hover{
    color: #15c5e4;
}