<div class="navbar">
  <a href="#"class="mx-0 my-0" ><img src="../../assets/Images/logo1.png"  class="logo mx-0 my-0"/></a>
   <a href="#" class="lien"><i class="fa fa-fw fa-home"></i> Home</a>
   <a href="#" class="lien"><i class="fa fa-fw fa-info"></i>Mes Cours</a>
   <a href="#" class="lien" ><i class="fa fa-fw fa-envelope"></i> Contacter nous</a>
   <div class="bouton">
  <a routerLink="connexion"><button class="btn  mx-1">Connexion</button></a>
  <a routerLink="inscription"><button class="btn mx-1"> Inscription</button></a>
  </div>
   <a href="#" class="mx-0 my-0"><img src="../../assets/Images/user.png" class="logo mx-0 my-0"/></a>
</div>

