<div class="navbar">
  <a href="#"class="mx-0 my-0" ><img src="../../assets/Images/logo1.png"  class="logo mx-0 my-0"/></a>
   <a href="#" class="lien"><i class="fa fa-fw fa-home"></i> Home</a>
   <a href="#" class="lien"><i class="fa fa-fw fa-info"></i>Mes Cours</a>
   <a href="#" class="lien" ><i class="fa fa-fw fa-envelope"></i> Contacter nous</a>
   <div class="bouton">
   <button class="btn  mx-1">Connexion</button>
   <button class="btn mx-1"> Inscription</button>
  </div>
   <a href="#" class="mx-0 my-0"><img src="../../assets/Images/ayyoubelkanaany.jpg" class="logo mx-0 my-0"/></a>
</div>

