<div class="navbar">
  <a href="#" ><img src="../../assets/Images/logo.png" class="logo card-img"/></a>
   <a href="#" class="lien"><i class="fa fa-fw fa-home"></i> Home</a>
   <a href="#" class="lien"><i class="fa fa-fw fa-info"></i>Nos services</a>
   <a href="#" class="lien" ><i class="fa fa-fw fa-envelope"></i> Contacter nous</a>
   <div class="bouton">
   <button class="btn  mx-1">Connexion</button>
   <button class="btn mx-1"> Inscription</button>
  </div>
   <a href="#" class="mx-1"><img src="../../assets/Images/user.png" class="logo img-thumbnail"/></a>
</div>

