/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color:#4654A3;
    text-size-adjust: 30px;
  }
  
  /* Navbar links */
  .navbar a {
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    
  }
  
  /* Current/active navbar link */
  .active {
    background-color: #4CAF50;
  }
  .logo{
    width: 80px;
    height: 80px;
    border-color: transparent;
    border-radius: 30px;
    border-style: solid;
  }
  .btn{
    text-align: center;
    padding: 9px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    background-color: #4654A3;
    border: solid 5px #4654A3;
  }
  .btn:hover{
    background-color: white;
    color: #4654A3;
  }
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 1000px) {
  
    .bouton{
      display: none;
    }
  }  
  @media screen and (max-width: 500px) {
    
    .lien{
      display: none;
    }
  }  