/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: rgb(12, 116, 235);
    text-size-adjust: 30px;
  }
  
  /* Navbar links */
  .navbar a {
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    font-size: 22px;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: #4CAF50;
  }
  .logo{
    width: 50px;
    height: 50px;
  }
  .btn{
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    background-color: blue;
    border: solid 5px blue;
  }
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 1000px) {
  
    .bouton{
      display: none;
    }
  }  
  @media screen and (max-width: 500px) {
    
    .lien{
      display: none;
    }
  }  